:root {
    --clr-primary-a: #f9f9f9;
    --clr-primary-b: #f1f1f1;
    --clr-primary-c: #e9e9e9;

    
    --clr-secondary-a: #282828;
    --clr-secondary-b: #1f1f1f;
    --clr-secondary-c: #161616;
    --clr-secondary-d: #0d0d0d;

    --clr-accent-a: #666;

    --clr-neutral-white: #FFF;
    --clr-neutral-white-80-percent: rgba(255, 255, 255, 0.8);
    --clr-neutral-black: #000;
    --clr-neutral-black-20-percent: rgba(0, 0, 0, 0.2);
    --clr-neutral-black-10-percent: rgba(0, 0, 0, 0.1);

    --ff-primary: Arial, Helvetica, sans-serif;
}


/*** The new CSS Reset - version 1.4.4 (last updated 22.12.2021) ***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
 *:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value (and adjusting padding & margin)*/
*,
*::before,
*::after {
    box-sizing: border-box;

    padding: 0;
    margin: 0;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-width: 100%;
    height: auto;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]){
    display:none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly. */
:where([contenteditable]){
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}


/* However, if you don’t want to reset the form elements, it is easy to restore the default styles with the revert value and the all property 
input,
textarea,
select {
    all: revert;
}
*/


/* Global styles 

element
.g-class {}
*/

h1 {
    font-size: 2rem;
}

.g-new-line::after {
    content: "\a";
    white-space: pre;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--ff-primary);
    background-color: var(--clr-primary-a);
    overflow-x: hidden;
    word-break: break-word;
    word-wrap: break-word;
}

.g-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}


/* Page styles

#index .class {}
#index element
*/

#index {
    grid-template-areas:
    "hero hero hero hero hero hero hero hero hero hero hero hero"
    "head head head head head head head head head head head head"
    "main main main main main main main main main main main main"
    "foot foot foot foot foot foot foot foot foot foot foot foot";
}

#index main {
    grid-area: main;
}

#index .flex {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

#index .flex-center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#index h2 {
    font-weight: bold;
    margin: 0 1em 1em 1em;
}

#index img {
    width: 100%;
}

#index p {
    text-indent: 5px;
    letter-spacing: 1px;
    /*word-spacing: 1px;*/
    line-height: 1.2;
    margin-bottom: 1em;
}

#index .img-screen-fitted {
    max-width: 20rem;
    margin: 0 auto;
}

#index .logo-text {
    font-weight: bold;
    margin: 1em;
}

/* fade-animations*/
#index section .fade {
    --fade-value: 0px, 0px;

    opacity: 0;
    transform: translate(var(--fade-value));
    transition: all 500ms ease-out;
}
#index section.active .fade {
    opacity: 1;
    transform: translate(0px, 0px);
}

#index section .fade-left,
#index section .fade-right,
#index section .fade-down {
    opacity: 0;
    transition: all 500ms ease-out;
}

#index section.active .fade-left {
    opacity: 1;
    animation: fade-left 500ms ease-out;
}

#index section.active .fade-right {
    opacity: 1;
    animation: fade-right 500ms ease-out;
}

#index section.active .fade-down {
    opacity: 1;
    animation: fade-down 500ms ease-out;
}

/* Section styles 

#index #hero .class {}
#index #hero element
*/

#index #hero {
    grid-area: hero;

    background-image: url(images/freeilustrations-background.jpg);
    background-size: cover;
    background-color: #6f6f6f;
    background-blend-mode: overlay;

    color: var(--clr-neutral-white);
    min-height: 100vh;
}

#index #header1 {
    --text: #333;
    --text-inverse: #f4f4f4;
    --background: #f4f4f4;
    
    grid-area: head;

    padding: 2rem 0;
    transition: background 250ms ease-in;

    background: var(--background);
    color: var(--text);
}
#index #header1 .logo-text {
    margin: 1em auto;
}
#index #header1 nav a {
    --spacing: 1em;
    
    padding: calc(var(--spacing) / 2) var(--spacing);
    display: inline-block;
    color: inherit;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.9rem;
    margin: 0.5em;
}
#index #header1 nav a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: var(--spacing);
    right: var(--spacing);
    height: 2px;
    background: var(--text);
    transform: scaleX(0);
    transition: transform 150ms ease-in-out;
}
#index #header1 nav a:focus::after, 
#index #header1 nav a:hover::after {
    transform: scaleX(1);
}

#index #header1 button {
    background: var(--background);
    color: var(--text);
    border: 1.5px solid var(--text);
    border-radius: 2em;
    margin: 1em 0 0 1em;
    transition: background 250ms ease-in-out;
    letter-spacing: 1px;
    padding: 0.75em 1.5em;
}
#index #header1 button:first-of-type:hover {
    background: var(--text);
    color: var(--text-inverse);
    border-color: var(--text);
} 
#index #header1 button:last-of-type {
    background: limegreen;
    border-color: limegreen;
    color: var(--text-inverse);
}
#index #header1 button:last-of-type:hover {
    background: var(--text);
    border-color: var(--text);
} 

#index #intro {
    grid-template-areas: 
    "head head head head head head head head head head head head"
    "text text text text text text text text text text text text";
    text-align: center;

    padding: 5em 0.75em;
}
#index #intro h2 {
    --fade-value: 0px, -50px;

    grid-area: head;

    font-size: 2rem;
}
#index #intro div {
    --fade-value: 0px, -50px;
    transition: all 350ms ease-out;

    grid-area: text;
    font-size: 1.5rem;
}

#index #mid {
    grid-template-areas: 
    "img  img  img  img  img  img  img  img  img  img  img  img "
    "text text text text text text text text text text text text";

    gap: 1rem;
    padding: 3em 0.75em;
    
    background-color: var(--clr-secondary-a);
    color: var(--clr-neutral-white);
}
#index #mid img {
    grid-area: img;
}
#index #mid div {
    grid-area: text;
    font-size: 1.1rem;
}

#index #end {
    grid-template-areas: 
    "img  img  img  img  img  img  img  img  img  img  img  img "
    "text text text text text text text text text text text text";

    gap: 1rem;
    padding: 3em 0.75em;

    border-bottom: 1px solid var(--clr-neutral-black-10-percent);
}
#index #end img {
    grid-area: img;
}
#index #end div {
    grid-area: text;
    font-size: 1.1rem;
}

#index #article article {
    grid-template-areas: 
    "img1  img1  img1  img1  img1  img1  img1  img1  img1  img1  img1  img1"
    "....  part1 part1 part1 part1 part1 part1 part1 part1 part1 part1 ...."
    "grayt grayt grayt grayt grayt grayt grayt grayt grayt grayt grayt grayt"
    "....  part2 part2 part2 part2 part2 part2 part2 part2 part2 part2 ...."
    "....  ....  ....  side  side  side  side  side  side  ....  ....  ...."
    "....  part3 part3 part3 part3 part3 part3 part3 part3 part3 part3 ....";

    gap: 1rem;
    padding: 3em 0.75em;

    font-size: 1.1rem;
}
#index #article .article-img-1 {
    grid-area: img1;
}
#index #article .article-part-1 {
    grid-area: part1;
}
#index #article h2 {
    font-size: 1.5rem;
}
#index #article .gray-text {
    grid-area: grayt;
    margin: 10px 0;
    color: var(--clr-accent-a);
    text-align: left;
    border-left: 10px solid var(--clr-accent-a);
    padding-left: 10px;
}
#index #article .article-img-2 {
    display: block;
    width: unset;
    margin: 0 auto 0.5em auto;
}
#index #article .article-part-2 {
    grid-area: part2;
}
#index #article .side-text {
    grid-area: side;
    color: var(--clr-accent-a);
}
#index #article .article-part-3 {
    grid-area: part3;
}

#index #footer1 {
    background-color: var(--clr-secondary-a);
    color: var(--clr-neutral-white);

    grid-area: foot;

    text-align: center;
    
    padding: 3em 0.75em;
}

/* Keyframes */

@keyframes fade-left {
    0% {
      transform: translateX(-50px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}
@keyframes fade-right {
    0% {
      transform: translateX(50px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}
@keyframes fade-down {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Responsive styles */

@media only screen and (min-width: 600px) {
    
    /* Page styles
    
    #index .class {}
    #index element
    */

    #index {
        grid-template-areas:
        "hero hero hero hero hero hero hero hero hero hero hero hero"
        "head head head main main main main main main main main main"
        "head head head foot foot foot foot foot foot foot foot foot";
    }

    /* Section styles 
    
    #index #hero .class {}
    #index #hero element
    */

    #index #header1 {
        position: sticky;
        top: 0;
        z-index: 1;
        max-height: 100vh;
    }
    #index #header1,
    #index #header1 ul {
        justify-content: flex-start;
    }   

    #index #header1 nav a.active::after {
        transform: scaleX(1);
    }

    #index #article article {
        grid-template-areas: 
        "img1  img1  img1  img1  img1  img1  img1  img1  img1  img1  img1  img1"
        "img1  img1  img1  img1  img1  img1  img1  img1  img1  img1  img1  img1"
        "....  part1 part1 part1 part1 part1 part1 part1 part1 ..... ..... ...."
        "....  part1 part1 part1 part1 part1 part1 part1 part1 ..... ..... ...."
        "grayt grayt grayt grayt grayt grayt grayt grayt grayt grayt ..... ...."
        "grayt grayt grayt grayt grayt grayt grayt grayt grayt grayt ..... ...."
        "....  part2 part2 part2 part2 part2 part2 part2 part2 ..... ....  ...."
        "....  part2 part2 part2 part2 part2 part2 part2 part2 side  side  side"
        "....  part3 part3 part3 part3 part3 part3 part3 part3 ..... ..... ...."
        "....  part3 part3 part3 part3 part3 part3 part3 part3 ..... ..... ....";
    }
    
    #index #article .side-text {
        margin-bottom: 10rem;
        font-size: 0.8rem;
        max-width: 20ch;
    }
}


@media only screen and (min-width: 1024px) {

    /* Page styles
    
    #index .class {}
    #index element
    */

    #index {
        grid-template-areas:
        "head head head head head head head head head head head head"
        "hero hero hero hero hero hero hero hero hero hero hero hero"
        "main main main main main main main main main main main main"
        "foot foot foot foot foot foot foot foot foot foot foot foot";
    }
    
    /*Section styles 
    #index #hero .class {}
    #index #hero element
    */

    #index #header1 {
        --text: #f4f4f4;
        --text-inverse: #333;
        --background: transparent;
         
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        z-index: 999;

        padding: 2em 3em;
    }

    #index #header1,
    #index #header1 ul {
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
    }    

    #index #header1.nav-scrolled {
        --text: #333;
        --text-inverse: #f4f4f4;
        --background: #f4f4f4;

        box-shadow: 0 3px 20px var(--clr-neutral-black-20-percent);
    }

    #index #header1 .logo-text {
        margin: 0;
    }
    #index #header1 nav,
    #index #header1 button:first-of-type {
        margin-left: auto;
    }
        
    #index #intro {
        padding: 10em 5em;
    }

    #index #mid {
        grid-template-areas: 
        "img img img img img img text text text text .... ....";
        
        padding: 7.5em 0;
    }

    #index #end {
        grid-template-areas: 
        ".... .... text text text text img img img img img img";

        padding: 7.5em 0;
    }
    #index #mid div,
    #index #end div {
        margin: auto 0;
    }

    #index #article article {
        grid-template-areas: 
        "....  ....  img1  img1  img1  img1  img1  img1  img1  img1  .... ...."
        "....  ....  img1  img1  img1  img1  img1  img1  img1  img1  .... ...."
        "....  ....  ....  ....  part1 part1 part1 part1 ..... ....  .... ...."
        "....  ....  ....  ....  part1 part1 part1 part1 ..... ....  .... ...."
        "....  ....  ....  grayt grayt grayt grayt grayt grayt ....  .... ...."
        "....  ....  ....  grayt grayt grayt grayt grayt grayt ....  .... ...."
        "....  ....  ....  ....  part2 part2 part2 part2 ..... ....  .... ...."
        "....  ....  ....  ....  part2 part2 part2 part2 side  side  .... ...."
        "....  ....  ....  ....  part3 part3 part3 part3 ..... ....  .... ...."
        "....  ....  ....  ....  part3 part3 part3 part3 ..... ....  .... ....";

        padding: 7.5em 0;
    } 
        
    #index #article .article-img-2 {
        float: left;
        margin: 0 0.5em 0.5em 0;
    }

}