:root {
    --clr-primary-a: #f9f9f9;
    --clr-primary-b: #f1f1f1;
    --clr-primary-c: #e9e9e9;

    
    --clr-secondary-a: #282828;
    --clr-secondary-b: #1f1f1f;
    --clr-secondary-c: #161616;
    --clr-secondary-d: #0d0d0d;

    --clr-neutral-white: #FFF;
    --clr-neutral-white-80-percent: rgba(255, 255, 255, 0.8);
    --clr-neutral-black: #000;
    --clr-neutral-black-20-percent: rgba(0, 0, 0, 0.2);
    --clr-neutral-black-10-percent: rgba(0, 0, 0, 0.1);

    --ff-primary: Arial, Helvetica, sans-serif;
}


/*** The new CSS Reset - version 1.4.4 (last updated 22.12.2021) ***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
 *:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value (and adjusting padding & margin)*/
*,
*::before,
*::after {
    box-sizing: border-box;

    padding: 0;
    margin: 0;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-width: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]){
    display:none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly. */
:where([contenteditable]){
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}


/* However, if you don’t want to reset the form elements, it is easy to restore the default styles with the revert value and the all property 
input,
textarea,
select {
    all: revert;
}
*/


/* Global styles 

element
.g-class {}
*/

h1 {
    font-size: 2rem;
}

.g-new-line::after {
    content: "\a";
    white-space: pre;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--ff-primary);
    background-color: var(--clr-primary-a);
    overflow-x: hidden;
    word-break: break-word;
    word-wrap: break-word;
}

.g-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}


/* Page styles

#index .class {}
#index element
*/

#index {
    grid-template-areas:
    "hero hero hero hero hero hero hero hero hero hero hero hero"
    "head head head head head head head head head head head head"
    "main main main main main main main main main main main main"
    "foot foot foot foot foot foot foot foot foot foot foot foot";
}

#index main {
    grid-area: main;
}

#index .flex {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

#index .flex-center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#index h2 {
    font-size: 1.5rem;
    font-weight: bold;
}


/* Section styles 

#index #hero .class {}
#index #hero element
*/

#index #hero {
    grid-area: hero;

    background-image: url(https://picsum.photos/1000/900);
    background-size: cover;
    color: var(--clr-neutral-white);
    min-height: 100vh;
}

#index #header1 {
    --text: #333;
    --text-inverse: #f4f4f4;
    --background: #f4f4f4;
    
    grid-area: head;

    padding: 2rem 0;
    transition: background 250ms ease-in;

    background: var(--background);
    color: var(--text);
}
#index #header1 nav a {
    --spacing: 1em;
    
    padding: calc(var(--spacing) / 2) var(--spacing);
    display: inline-block;
    color: inherit;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.9rem;
}
#index #header1 nav a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: var(--spacing);
    right: var(--spacing);
    height: 2px;
    background: var(--text);
    transform: scaleX(0);
    transition: transform 150ms ease-in-out;
}
#index #header1 nav a:hover::after {
    transform: scaleX(1);
}

#index #header1 button {
    background: var(--background);
    color: var(--text);
    border: 1.5px solid var(--text);
    border-radius: 2em;
    margin-top: 1em;
    transition: background 250ms ease-in-out;
    letter-spacing: 1px;
    padding: 0.75em 1.5em;
}
#index #header1 button:first-of-type:hover {
    background: var(--text);
    color: var(--text-inverse);
    border-color: var(--text);
} 
#index #header1 button:last-of-type {
    background: limegreen;
    border-color: limegreen;
    color: var(--text-inverse);
}
#index #header1 button:last-of-type:hover {
    background: var(--text);
    border-color: var(--text);
} 

#index #intro {
    text-align: center;

    padding: 4em 0.75em;
}
#index #intro h2 {
    margin: 0 1em 1em 1em;

}

#index #mid {
    background-color: var(--clr-secondary-a);
}

#index #footer1 {
    background-color: var(--clr-secondary-a);
    color: var(--clr-neutral-white);

    grid-area: foot;

    text-align: center;
}

@media only screen and (min-width: 600px) {
    
    /* Page styles
    
    #index .class {}
    #index element
    */
    
    #index {
        grid-template-areas:
        "head head head head head head head head head head head head"
        "hero hero hero hero hero hero hero hero hero hero hero hero"
        "main main main main main main main main main main main main"
        "foot foot foot foot foot foot foot foot foot foot foot foot";
    }
        
    #index h2 {
        font-size: 2.5rem;
    }


    /* Section styles 
    
    #index #hero .class {}
    #index #hero element
    */
    #index #header1 {
        --text: #f4f4f4;
        --text-inverse: #333;
        --background: transparent;
         
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        z-index: 999;

        padding: 2em 3em;
    }
    #index #header1,
    #index #header1 ul {
        flex-direction: row;
        align-items: center;
    }       
    #index #header1.nav-scrolled {
        --text: #333;
        --text-inverse: #f4f4f4;
        --background: #f4f4f4;

        box-shadow: 0 3px 20px var(--clr-neutral-black-20-percent);
    }    

    #index #header1 nav a {
        --spacing: 1em;
    }
    
    #index #header1 button {
        margin-top: 0;
    }

    #index #intro {
        font-size: 1.125rem;
    }
    
}
